---
Checks: '-*,
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  portability-*,
  -readability-identifier-length,
  -readability-identifier-naming,
  -readability-uppercase-literal-suffix,
  -readability-magic-numbers,
  -readability-braces-around-statements,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-special-member-functions,
  -modernize-avoid-c-arrays,
  -modernize-use-trailing-return-type'

WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: none
